PORT=3000

DAML_JSON_API_URL=http://127.0.0.1:7575
DAML_USER_ID=ledger-api-user

DEFAULT_EASYCOIN_PARTY=Easycoin
DEFAULT_OWNER_PARTY=Owner
DEFAULT_AUDITOR_PARTY=Auditor
DEFAULT_PAYMENT_VERIFIER_PARTY=PaymentVerifier
DEFAULT_LEGAL_ADMIN_PARTY=LegalAdmin

DATABASE_URL="file:./prisma/dev.db"
JWT_SECRET=
JWT_EXPIRES_IN_SECONDS=86400
